body {
  background-color: #d9d9d9;
}

.App {
  margin: 50px;
  padding: 50px;
  border-radius: 20px;
  background-color: white;
  height: 550px;
  position: relative;
}

.root {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.row {
  margin: 200px 0;
  display: flex;
  justify-content: space-between;
}

.box {
  font-family: "Helvetica";
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 0 3px #222;
  border-radius: 999px;
  height: auto;
}
