{
  "root": true,
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
  ],
  "extends": [
    "plugin:cypress/recommended",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "16.2"
    }
  },
  "globals": {
    "jest": true,
    "expect": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "window": true
  },
  "rules": {
    "react/jsx-curly-newline": 0,
    "prettier/prettier": "error"
  }
}
